.container {
  background: linear-gradient(to right, #161a2b, #262c49);
  color: white;
  padding: 20px;
  margin: 0 auto;
}
.container .subcontainer {
  width: 800px;
  margin: 0 auto;
}
.container .subcontainer div {
  display: inline-block;
  vertical-align: middle;
  padding-left: 7px;
}
.logo {
  color: #fff;
  font-weight: bolder;
  font-size: 23px;
  width: 100px;
}

.search {
  width: 500px;
}

.search input {
  border-radius: 25px;
  outline: none;
  width: calc(500px - 20px - 10px);
  padding: 10px;
  font-size: 16px;
  font-weight: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: #465ab4;
}
.actions {
  width: 150px;
}

.actions ul,
.actions ul li {
  margin: 0;
  list-style: none;
}
.actions ul li a {
  display: inline;
  padding: 10px;
}

.new-item-panel-container {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.new-item-panel {
  width: 300px;
  margin: 20px auto;
  background: linear-gradient(to right, #161a2b, #262c49);
  padding: 20px;
  filter: drop-shadow(8px 15px 11px black);
  border-radius: 15px;
}
.new-item-panel p {
  padding: 5px 0;
}
.logo-box {
  width: 200px !important;
  position: absolute;
  top: 4%;
  left: 20%;
  pointer-events: none;
}
.App-logo {
  position: absolute;
  right: 98%;
  width: 43px;
  height: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  width: 168px;
  height: 23px;
  line-height: 25px;
  font-size: 16px;
  background: linear-gradient(90deg, #263781 0%, #465ab4 100%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}
.btn-white:hover {
  background: linear-gradient(
    to right,
    rgb(1, 116, 10) 0%,
    rgb(3, 190, 13) 100%
  ) !important;
  color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #465ab4;
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.3);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.text-box {
  position: absolute;
  width: 11%;
}
input.input {
  border-radius: 25px;
  outline: none;
  width: calc(500px - 209px - 10px);
  padding: 10px;
  font-size: 16px;
  font-weight: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: #465ab4;
}
.btn-blue {
  background-color: rgb(70 90 180);
  color: white;
  cursor: pointer;
  border-radius: 18px;
  width: 145px;
}
.btn-blue:hover {
  background: linear-gradient(
    to right,
    rgb(1, 116, 10) 0%,
    rgb(3, 190, 13) 100%
  ) !important;
  color: #fff;
}
.btn-normal {
  background-color: rgb(70 90 180);
  color: white;
  cursor: pointer;
  border-radius: 18px;
  width: 145px;
}
.btn-normal:hover {
  background: linear-gradient(
    to right,
    rgb(143, 0, 0) 0%,
    rgb(245, 6, 6) 100%
  ) !important;
  color: #fff;
}